@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.seccionsinopsis {background-color:white;
background-image:none;}

*{ font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.logoimg .antmanlogo #cascologo {
}
.logoimg .antmanlogo #cascologo {
}
.logoimg .antmanlogo #cascologo {
}



.galeria .videocast p {
    padding-bottom: 20px;
    font-size: 0.8em;
    padding-right: 20px;

}

.contenidotrivia .remera p {
    margin: 10px;
    color: white;
}

.contenidotrivia .remera {
    width: 408px;
    float: left;
}
.contenidotrivia .remera h1 {
    margin: 10px;
    color: red;
}


.contenidotrivia {
    padding: 20px 5% 20px 20%;
    background-image: url(../imagenesant/ant-man-costume-t-shirt.jpg);
    
    min-height: 570px;
}



.galeria .fondonegro {
    background-color: rgba(41,41,41,0.65);
    padding-top: auto;
    padding-bottom: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 100%;
    vertical-align: top;
    align-content: top;
    display: flex;
 
    height: 100%;
}


#logologo {margin-left:10px; width:220px; height:60px;}




body{
    background: #bdc3c7;
    margin: 0;

}

main{

    width: 100%;
   height:100vh;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    background-image: url(../imagenesant/antmansi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

section{
width: 100%;

}



.section-index{
/*background-image:url(../imagenesant/antmansi.jpg);*/
}



a{
    text-decoration: none;
    color: white ;

}

header{
    display: flex;
    width: 100%;
    height: 95px;
    background-color: #eb2f06;
    justify-content: space-between;
    align-items: center;
      
}

.titulo{
    font-size: 70px;
    position: absolute;
    left: 12%;
    top: 29%;
    color: red;

}

.logoimg{
    padding: 20px;
    width: 50%;
}
.titulo2{
    font-size: 25px;
    position: absolute;
    left: 14%;
    top: 40%;
    color: black ;

}


.antmanlogo{
    display: flex;
    height: 70px;
    margin-right: 20px;

}

.boton { margin-top:10px;
	width:130px;
height: 30px;
background-color:red;
padding:5px 10px;
	font-weight:bold;
}
.botonvideo {
    margin-top: 10px;
    width: 175px;
    height: 30px;
    background-color: red;
    padding: 5px 10px;
    font-weight: bold;
}

nav ul a {padding-left:0.8em;}

ul {margin-right: 1.5em;}
.boton:hover { 
background-color:darkred;
	

}
nav {padding-right:20px;}
nav a{
    font-weight: 600;
    padding-right: 10px;
min-width:500px;
    
}

nav a:hover{
    color: black;



}


#article1 .titulo2{
    position: static;
    width: fit-content;
    background: #fff;
	font-size: 1.3em;
}
footer{
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #eb2f06;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    


}
.nombrealumno{
    margin: 0 auto;
}
footer img{
    margin-top: 0;
    margin-left: .5rem;
    margin-bottom: 0;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nombre-alumno{
    font-size: 1em;
    color: #fff;
}
.div{
    background:#eb2f06 ;
    
}

.marvellogo{
    display: flex;
   
    margin-right: 10px;

}

.uces{
    display: flex;
   margin-left: 10px;
   /*position: absolute;
   left: 6% ;
   top: 2%;*/
}



.disney{

    display: flex;
    
    margin-right: 10px;
/*position: absolute;
    left: 340%;
    top: -20%;*/
}
.disney img{
    width: 38px;
    height: 50px;
}

h1{
    font-size: 30px;
    position: relative;
    left: -1%;
    top: -1300%;
    color: black ;
}


h2{
    font-size: 25px;
    position: relative;
    top: 30%;
    color:  white;
}






h3{
    font-size: 30px;
    color: red;
   /* position: relative;
    left: 155%;
    top: 10%;*/
}



/* Small (landscape phones, 576px and up) */
@media (min-width : 290px ) and ( max-width : 767px ){
	
	.contenidotrivia {
    padding: 15px 15px 15px 15px !important;
    background-image: url(../imagenesant/ant-man-costume-t-shirt.jpg);
    height: 100vh;
    min-height: 700px;
}
	.contenidotrivia img {display:none; width:80% !important;padding-left:20%;}
	.remera { width:95% !important;}
	form {width:initial !important ;margin-left:0px !important;}
	.galeria  {height:initial !important;}
    main{
        width: auto;
		min-height: 100vh;
    }
    main header{
        width: auto;
    }
    header h2{
        position: static;
    }
  
    header .nombre-pelicula{
        font-size: 14px;
    align-items: center;
    display: flex;
    }
    nav ul a{
        font-size: 12px;
    }
    .section-index{
        padding-top: 5rem;
        background-image: url(../imagenesant/antmansi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
		max-height: 100%;
		min-height: 600px;
		height: 600px;
    }
    #article1{
        text-align: center;
    }
    #article1 .titulo{
        position: static!important;
    }
     #article1 h4{
        margin: auto;
    }
    footer{
        width: auto;
        height: 40px;
    }
    footer img{
        max-width: 100%;
    }
    footer .marvellogo{
        width: 30px;
        height: auto;
		margin: 0 !important;
    }
    .uces{
        position: static;
        height: auto;
    }
    .nombre-alumno{
        position: static;
    }
    .disney{
        height: auto;
        position: static;
    }
    .disney img{
        width: 40px !important;
    }
.logoimg .antmanlogo #cascologo {
    width: 50px;
    height: 50px;
}
	
	.boton {display:none;}
	
.logoimg {
    padding: 20px 0 0 20px;
    width: 60%;
}

.logoimg .antmanlogo #logologo {
    width: 100px;
    height: 40px;
}



}


/* MEDIUM (tablets, 768px and up)/ */
@media (min-width: 768px) and (max-width: 991px) {
	
	.contenidotrivia img {width:250px !important;}
	.galeria {height:initial !important;}
	.remera {padding:20px !important;}
	.boton {display:none;}
    main{
        width: auto;
		   min-height: 100vh;
    }
    main header{
        width: auto;
    }
    header h2{
        position: static;
    }
    header .nombre-pelicula{
        font-size: 14px;
    align-items: center;
    display: flex;
    }
    nav ul a{
        font-size: 12px;
    }
    .section-index{
        padding-top: 5rem;
        background-image: url(../imagenesant/antmansi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
		height: 100vh;
    }
    #article1{
    text-align: center;
    }
    #article1 .titulo{
        position: static!important;
    }
     #article1 h4{
        margin: auto;
    }
    footer{
        width: auto;
        height: 40px;
    }
    footer img{
        max-width: 100%;
    }
    footer .marvellogo{
        width: 80px;
        height: auto;
    }
    .uces{
        position: static;
        height: auto;
    }
    .nombre-alumno{
        position: static;
    }
    .disney{
        height: auto;
        position: static;
    }
    .disney img{
        width: 70px;
    }

	form {padding:10px !important; margin-top:20px;}
}
/* LARGE (desktops, 992px and up)/ */
@media (min-width: 992px) and (max-width: 1200px) {
    main{
        width: auto;
		   min-height: 700px;
    }
    main header{
        width: auto;
    }
    .section-index{
	padding-top: 5rem;
	background-image: url(../imagenesant/antmansi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: auto;
		    height: 95vh;

    }
        footer{
        width: auto;
        height: 40px;
    }
    #article1{
        margin-left: 1rem;
    }   
    .titulo{
        position: static;
        left: 1%;
    }
    .titulo2{
        left: 2%;
    }
}

/* X-LARGE (desktops, 1200px and up)/ */
@media (min-width: 1280px) {
    main{
        max-width: 100%;
		   min-height: 700px;

    }
    main header{
        max-width: 100%;
    }
    .section-index{
        padding-top: 5rem;
        
    max-width: 100%;
		max-height:100%;
        min-height:565px;
    }
        footer{
    max-width: 100%;
    height: 40px;
    }
    #article1{
        margin-left: 4rem;
    }
    #article1 h1, #article1 .titulo2{
        position: static;
    }
}



@media (min-width: 1440px){
    main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 700px;
    height: 98vh;

    }
}

@media screen and (min-width:768px) and (max-width:991px){
}
