@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{ font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}



.encabezadopersonajes{
    text-align: center;
    font-size: 24px;
    padding: 1rem;
    color: #eb2f06;
    background-color: #333;
    font-weight: bold;
}


body{
    margin: 0;
    background: #bdc3c7;

}
.nombre-pelicula{
    display: flex;
    align-items: center;
}

main{
    
background-image: none !important;
background-color:transparent!important;
    max-width: 1280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;

}



a{
    text-decoration: none;
    color: white ;

}

header{
    display: flex;
  
    height: 73px;
    background-color: #eb2f06;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

    
}

.antmanlogo{
    display: flex;
    height: 70px;
    margin-right: 10px;

}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: black;

}

footer{
    margin-top: 6rem;
    display: flex;
    width: auto;
    background-color: #eb2f06;
    align-items: center;
    padding: 3px;

}
footer img{
    max-width: 60px;
    margin: 0 .5rem;
}
.nombre-alumno{
    font-size: 20px;
    color: #fff;
}
.marvellogo{
    max-width: 120px;
}

.nombrealumno
{
    margin: 0 auto;
}





.galeria {
    content: "";
    background-image: url( ../imagenesant/cast.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
		
}

.bloques {
    background-color: rgba(0,0,0,0.7) !important;
    width: 65%;
    max-width: 800px;
    float: none;
    vertical-align: top;
    display: flex;
}
.videocast {
    float: left;
    width: 40% !important;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-color: rgba(181,181,181,0.80);
}
.actor {
    text-align: left;
    display: inline-block;
    margin: 20px;
    font-family: Montserrat, sans-serif;
    width: 144px;
}

.actor p{
    color: white !important;
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.galeria .actor h4{
    margin-bottom: 4px;
    width: auto;
}
main header {text-align:left !important;}
.galeria .actor h6{
    margin-bottom: 10px;
	color: red;
}
.bloques .actor h6 {
	color: #EF2B2B;
	font-size: 16px;
}
.actor h6 span {
}


.galeria .actor img{
    border-radius: 5%;
    box-shadow: 0px 5px 15px 1px #000;
    display: block;
    transition: all .3s ease;
    width: 122px;
    float: left;
    margin-right: 15px;
    margin-bottom: 17px;
}
.galeria .actor img:hover{
   transform: scale(1.1);

}

.disney img{
    width: 120px;
}









h4{
    font-size: 20px;
    color: white;
}




@media (min-width: 250px) and (max-width: 575px) {
		.videocast {width:100% !important;}
	
	.bloques {display:grid;width:100%;max-width: 100% !important;}
	.actor {width:90%;}
	.videocast {float:none;}
	.galeria {display:block !important;}
	
}

/* Small (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .videocast {width:100% !important;}
    .bloques {display:grid;width:100%;max-width: 100% !important;}
	.actor {width:90%;}
	.videocast {float:none;}
	.galeria {display:block !important;}
    body{
        padding:0;
    }
    header .nombre-pelicula{
        font-size: 14px;
    }
    nav ul a{
        font-size: 12px;
    }
    header a{
        width: 50%;
    }
    .galeria{
        flex-direction: column;
      
    }
    .galeria .actor{
        margin: 1rem 0;
        text-align: left;
		margin: 20px;
    }
    .nombre-alumno{
        text-align: center;
    }
}


/* MEDIUM (tablets, 768px and up)/ */
@media (min-width: 768px) and (max-width: 991px){
	.videocast {width:100% !important;}
	.bloques {width:100%;max-width: 100% !important;  padding-left: 15%;}

    header .nombre-pelicula{
        font-size: 18px;
    }
   
    nav ul a{
        font-size: 14px;
    }
    .galeria{
        flex-direction: column;
        align-items: center;
    }
    .galeria .actor{
        margin: 1rem 0;
        text-align: center;
    }
    .nombre-alumno{
        text-align: center;
    }
}

/* LARGE (desktops, 992px and up)/ */
@media (min-width: 992px) and (max-width: 1200px) {
	.videocast {width:30% !important;}
	.bloques {width:70%;max-width: 100% !important;  padding-left: 5%;}
    .galeria{
        flex-wrap: wrap;
    }
		.videocast {width:100%;}
}

/* X-LARGE (desktops, 1200px and up)/ */
@media (min-width: 1280px) {
			.videocast {width:40% !important;}
    main{
        max-width: 1280px;
    }
   .bloques {width:60% !important;max-width: 100% !important;  padding-left: 5% !important;}
}
.botonvideo2 {padding:5px;background-color: red;margin-bottom:10px;}
/* X-LARGE (desktops, 1200px and up)/ */
@media (min-width: 1440px) {
	
	.bloques {width:100%;max-width: 100% !important;  padding-left: 15%;}
    main{
        min-height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1280px;
    }
    .galeria{
        margin: auto 0;
    }
}
